{% extends "content_management/_base.html" %}
{% load partials %}

{% partialdef course %}


<li class="bg-white p-4 rounded-lg shadow hover:shadow-lg transition">
    <a href="{% url 'course_detail' item.id %}"
        class="text-xl font-semibold text-blue-600 hover:underline">{{item.title}}
    </a>
</li>

{% endpartialdef %}


{% block app-content %}

<ul class="space-y-2">
    {% for item in courses %}
    {% partial course %}
    {% empty %}
    Nothing to see here
    {% endfor %}
</ul>

{% if not user.is_authenticated %}
<div class="alert-20 p-2">
    Want to see more content? Log in or Sign up and you'll get access to everything!
</div>
{% endif %}

{% endblock %}