{% load i18n allauth %}
{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prelude Learn - {% block head_title %}
        {% endblock head_title %}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'vendor/tailwind.output.css' %}">

    <!-- 
    <script src="https://unpkg.com/htmx-ext-ws@2.0.2"
        integrity="sha384-vuKxTKv5TX/b3lLzDKP2U363sOAoRo5wSvzzc3LJsbaQRSBSS+3rKKHcOx5J8doU"
        crossorigin="anonymous"></script> -->


    <script src="https://unpkg.com/htmx.org@2.0.4"
        integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
        crossorigin="anonymous"></script>

    <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>



    <!-- <script src="https://unpkg.com/htmx-ext-ws@1.9.12"></script> -->

    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>


    {% block extra_head %}
    {% endblock extra_head %}
</head>

<body class="bg-gray-100 flex flex-col min-h-screen" hx-ext="ws">

    <!-- Header -->
    <header class="bg-blue-600 p-4 shadow-md flex justify-between items-center">
        <a href="/">
            <h1 class="text-2xl font-bold text-white">Prelude Learn</h1>
        </a>
        <nav class="space-x-1 flex flex-row">

            {% if user.is_authenticated %}

            <a class="button-white" href="{% url 'account_profile' %}">{% trans "Profile" %}</a>

            {% include "_partials.html#logout-button" %}

            {% else %}
            {% url 'account_login' as login_url_ %}
            {% if login_url_ %}
            <a class="button-white" href="{{ login_url_ }}">{% trans "Sign In" %}</a>
            {% endif %}
            {% url 'account_signup' as signup_url_ %}
            {% if signup_url_ %}
            <a class="button-white" href="{{ signup_url_ }}">{% trans "Sign Up" %}</a>
            {% endif %}
            {% endif %}

        </nav>
    </header>



    {% if messages %}
    <div class="space-y-2 mx-auto pt-2 ">

        {% for message in messages %}

        {% element alert level=message.level %}
        {% slot message %}
        {{ message }}
        {% endslot %}
        {% endelement %}

        {% endfor %}
    </div>
    {% endif %}

    <!-- Main Content -->
    {% block body %}
    <main class="flex-grow container mx-auto p-4">
        {% block content %}
        Replace this in child templates
        {% endblock content %}
    </main>
    {% endblock body %}

    {% block extra_body %}
    {% endblock extra_body %}
    <!-- Footer -->
    <footer class="bg-gray-800 text-white p-4 text-center">
        <p>&copy; 2025 Prelude.tech. All rights reserved.</p>
    </footer>

</body>

<script>
    htmx.defineExtension("eventlog", {
        onEvent: function (name, evt) {
            console.log("Event " + name + " was triggered!")
        }
    });
</script>

</html>