<div class="shadow-2xl p-5 max-w-fit mx-auto space-y-5 text-center ">
    <iframe class="mx-auto" width="560" height="315"
        src="https://www.youtube.com/embed/{{video_id}}?start={{start_seconds}}" title="{{ title }}" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p class="text-2xl font-bold">{{title}}</p>
    <p class="text-xl text-gray-500">{{caption}}</p>
</div>